body {
    background-color: #f2f4f7
    ;
}

.box-one {

    background-color: black;
    margin-bottom: 0px;
    width: 0px;
    padding-right: 32px;
    width: 548px;
    height: 298.073px;
    line-height: 1.34;
    color: #1c1e21;

}

.Logo{

    margin: -28px;
    width: 320.938px;
    height: 106px;
    padding-top: 112px;
}

.Texto{
    padding-top: 16px;
}

.box-two{

    background-color: white;
    margin-bottom: 0px;
    width: 0px;
    padding-right: 32px;
    width: 396px;
    height: 314.583px;
    
}

.Correo{

    width: 100px;
    height: 21.991px;
    padding-left: 16px;
    padding-left: 16px;



}